<!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
<!-- В дальнейшем тут будет создано полноценное меню navbar-expand-lg -fluid-->    
{% load static %}
<nav class="navbar navbar-light navbar-expand-lg bg-ligth" 
  style="background-color: lightskyblue">
  <div class="container">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
      <img src="{% static 'img/logo.png' %}" width="30" 
        height="30" class="d-inline-block align-top" alt="">
      <span style="color:red">Ya</span>tube
    </a>
    <button class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"><!-- id="navbarSupportedContent" -->
    {% with request.resolver_match.view_name as view_name %}
    <ul class="nav nav-pills navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link 
            {% if view_name  == 'about:author' %}active{% endif %}" 
          {% if view_name  == 'about:author' %} aria-current="page"{% endif %} 
          href="{% url 'about:author' %}"
        >
          Об авторе
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link 
            {% if view_name  == 'about:tech' %}active{% endif %}" 
          {% if view_name  == 'about:tech' %}aria-current="page"{% endif %}
          href="{% url 'about:tech' %}"
        >
          Технологии
        </a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link 
              {% if view_name  == 'posts:post_create' %}active{% endif %}" 
            {% if view_name  == 'posts:post_create' %} aria-current="page"{% endif %}
            href="{% url 'posts:post_create' %}"
          >
            Новая запись
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light 
              {% if view_name  == 'users:password_change_form' %}
                active
              {% endif %}" 
            {% if view_name  == 'users:password_change_form' %} 
              aria-current="page"
            {% endif %}
            href="{% url 'users:password_change_form' %}"
          >
            Изменить пароль
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light
              {% if view_name  == 'users:logout' %}
                active
              {% endif %}" 
            {% if view_name  == 'users:logout' %} 
              aria-current="page"
            {% endif %}
            href="{% url 'users:logout' %}"
          >
            Выйти
          </a>
        </li>
        <li class="nav-item">
          <div class="navbar-text">Пользователь: {{ user.username }}</div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link link-light
              {% if view_name  == 'users:login' %}
                active
              {% endif %}" 
            {% if view_name  == 'users:login' %} 
              aria-current="page"
            {% endif %}
            href="{% url 'users:login' %}"
          >
            Войти
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light
              {% if view_name  == 'users:signup' %}
                active
              {% endif %}" 
            {% if view_name  == 'users:signup' %} 
              aria-current="page"
            {% endif %}
            href="{% url 'users:signup' %}"
          >
            Регистрация
          </a>
        </li>
      {% endif %}
    {% endwith %}  
    </ul>
  </div>
  </div> <!-- container -->
</nav>