{% extends 'base.html' %}
{% block tab_title %}Об авторе проекта{% endblock %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор проекта</h1>
<p>
    Меня зовут Олег. Только начинаю изучать python и веб-разработку, 
    хотя и не новичок в программировании. 
</p>
<p>
    После уроков информатики еще в школе, написал свою 
    первую программу для тренировки арифметических навыков, 
    а затем небольшую программу для тренировки запоминания столиц стран мира.
    На понятном вычислительной машине языке  объяснил ей, что нужно делать, 
    а машина исполняла это в реальном мире - на экране монитора и помогла развить навыки. 
    Исполняла без устали. 
</p>
<p>
    Несколько строчек кода, примененные в нужном месте, 
    изменили реальный мир. Это вызвало очень сильное впечатление, восторг, которые  
    побудили меня встать на путь программиста. 
    Школьные впечатления, отражение и сила кода в реальном мире, 
    движут мной и сегодня.
</p>
{% endblock content %}