{% extends 'base.html' %}
{% block tab_title %}Технологии{% endblock %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        CSS / Bootstrap
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>В проекте Yatube применяется целый спектр современных технологий веб-разработки.</p>
  </article>

</div> <!-- row -->
{% endblock content %}